<div class="holder padding-zero text-overlay">
    <div class="media-center-plugin second-layout" id="backgroundImage">
        <div class="people-banner">
            <div class="people-bg clearfix">
                <div class="people-holder clearfix">
                    <div class="people-media text-center">
                        <div ng-if="!WidgetMedia.fullScreen" class="people-banner" ng-hide="WidgetMedia.showVideo"
                        style="background:url('{{WidgetMedia.item.data.topImage ? resizeImg(WidgetMedia.item.data.topImage) : WidgetMedia.emptyBG}}') no-repeat; background-position:center center; background-size:cover !important; height: {{(WidgetMedia.deviceWidth*9)/16+'px'}} !important; position: relative; border-radius: 8px; overflow: hidden;">
                            <div class="item-overlay-text item-overlay-item2" id="itemOverlayText2">
                                <h2 class="overlay-title" id="overlayTitle2">{{WidgetMedia.item.data.title}}</h2>
                                <p class="overlay-date" id="overlayDate2" ng-if="WidgetMedia.item.data.dateCreated">{{WidgetMedia.item.data.dateCreated | date:'MMM d, yyyy'}}</p>
                            </div>
                        </div>

                        <div id="myVideo" ng-include="'templates/layouts/video-player.html'"></div>
                    </div>
                </div>
            </div>
            <div class="padded" ng-if="!WidgetMedia.fullScreen">
                <div class="item-actions">
                    <div class="link-list">
                        <a class="media-action video" ng-click="WidgetMedia.toggleShowVideo(!WidgetMedia.showVideo);"
                            ng-if="WidgetMedia.item.data.videoUrl && !skipMediaPage">
                            <i ng-class="WidgetMedia.showVideo ? 'glyphicon glyphicon-info-sign':'glyphicon glyphicon-film'" class="btn btn-success" role="button"  aria-label="{{WidgetMedia.showVideo ? 'Hide' : 'Show'}} {{WidgetMedia.item.data.title}} video button"></i>
                        </a>
                        <a class="media-action" ng-click="WidgetMedia.playAudio();" ng-if="WidgetMedia.item.data.audioUrl && !skipMediaPage">
                            <i class="btn btn-success glyphicon glyphicon-volume-up" role="button" aria-label="Show {{WidgetMedia.item.data.title}} audio button"></i>
                        </a>
                        <a ng-if="(WidgetMedia.item.data.srcUrl || WidgetMedia.item.data.audioUrl || WidgetMedia.item.data.videoUrl) && allowSource && online" ng-click="WidgetMedia.openLink(WidgetMedia.item)"
                            target="_blank">
                            <i class="glyphicon share glyphicon-screenshot" role="button" aria-label="{{WidgetMedia.item.data.title}} source button"></i>
                        </a>
                    </div>
                    <div class="li-actions">
                        <div style="float: none; display: inline-block;" data-ng-if="WidgetMedia.isDownloading(WidgetMedia.item)" class="lds-ring-small"><div></div><div></div><div></div><div></div></div>
                        <i class="glyphicon icon bookmark" style="font-family: 'Glyphicons Halflings' !important;"
                        ng-class="{ 'glyphicon-star-empty' : !WidgetMedia.item.data.bookmarked, 'glyphicon-star' : WidgetMedia.item.data.bookmarked }"
                        ng-click="WidgetMedia.bookmark($event)" role="button" aria-label="Bookmark {{WidgetMedia.item.data.title}} button"></i>
                        <i class="glyphicon glyphicon-option-horizontal" ng-click="WidgetMedia.showDrawer()" role="button" aria-label="{{WidgetMedia.item.data.title}} media item options"></i>
                    </div>
                </div>
                <p class="wysiwyg" ng-if="WidgetMedia.item.data.body" ng-bind-html="WidgetMedia.item.data.body | safeHtml"></p>
            </div>
        </div>
        <div ng-include="'templates/layouts/bottom-logo.html'"></div>
    </div>
</div>
<script>
    buildfire.appearance.getAppTheme((err, appTheme) => {
             if (err) return console.error(err);
             let viewsg = document.getElementById("viewsg")
             let iconViewg = document.getElementById("iconViewg")

             if (viewsg) viewsg.style.color =  appTheme.colors.bodyText;
             if (iconViewg) iconViewg.style.color =  appTheme.colors.icons;

             let overlayTitle2 = document.getElementById("overlayTitle2");
             let overlayDate2 = document.getElementById("overlayDate2");

             if (overlayTitle2) {
                 overlayTitle2.style.fontFamily = appTheme.fonts.fontFamily || 'Roboto, sans-serif';
                 overlayTitle2.style.fontWeight = appTheme.fonts.titleFontWeight || '700';
                 overlayTitle2.style.fontSize = (appTheme.fonts.titleFontSize || 18) + 'px';
                 overlayTitle2.style.color = appTheme.colors.titleText || '#ffffff';
             }

             if (overlayDate2) {
                 overlayDate2.style.fontFamily = appTheme.fonts.fontFamily || 'Roboto, sans-serif';
                 overlayDate2.style.fontWeight = appTheme.fonts.bodyFontWeight || '400';
                 overlayDate2.style.fontSize = (appTheme.fonts.bodyFontSize || 14) + 'px';
                 overlayDate2.style.color = appTheme.colors.bodyText || 'rgba(255, 255, 255, 0.9)';
             }
    });
</script>
