<script>
    buildfire.appearance.getAppTheme((err, appTheme) => {
             if (err) return console.error(err);
             let views = document.getElementById("views")
             let iconView = document.getElementById("iconView")
             if (views) views.style.color = appTheme.colors.bodyText;
             if (iconView) iconView.style.color = appTheme.colors.icons;

             document.documentElement.style.setProperty('--tab-active-color', appTheme.colors.primaryTheme);
             document.documentElement.style.setProperty('--tab-text-color', appTheme.colors.headerText);
    });
</script>

<div class="holder padding-zero list-layout-6" ng-class="{'pb75': globalPlaylist}">
    <div class="media-center-plugin news-layout-tabs list-6 text-overlay">
        <div class="plugin-banner clearfix text-overlay">
            <div id="carousel" build-fire-carousel="" ng-init="WidgetHome.loadCarousel()"></div>
        </div>

        <div class="category-tabs-container" ng-if="WidgetHome.categories && WidgetHome.categories.length > 0">
            <div class="category-tabs">
                <div class="category-tab"
                     ng-class="{'active': !WidgetHome.selectedTab}"
                     ng-click="WidgetHome.selectTab(null)"
                     role="button"
                     tabindex="0">
                    <span>All</span>
                </div>
                <div class="category-tab"
                     ng-repeat="category in WidgetHome.categories"
                     ng-class="{'active': WidgetHome.selectedTab === category.id}"
                     ng-click="WidgetHome.selectTab(category.id)"
                     role="button"
                     tabindex="0">
                    <div ng-if="category.data.icon && WidgetHome.isIcon(category.data.icon)"
                         ng-class="category.data.icon"
                         class="tab-icon"></div>
                    <img ng-if="category.data.icon && !WidgetHome.isIcon(category.data.icon)"
                         class="tab-icon-img"
                         crop-width="20"
                         load-image="1x1"
                         crop-height="20"
                         crop-type="crop"
                         data-final-src="{{category.data.icon}}">
                    <span>{{category.data.name}}</span>
                </div>
            </div>
        </div>

        <div class="padded text-left text-overlay wysiwyg" ng-if="WidgetHome.showDescription()">
            <p class="margin-bottom-zero" ng-bind-html="WidgetHome.media.data.content.descriptionHTML | safeHtml">
            </p>
        </div>

        <div id="emptyContainer" class="padded"
            ng-if="!loadingData && !WidgetHome.items.length">
            <div class="empty-state">
                <p>No items found{{WidgetHome.selectedTab ? ' in this category' : ''}}</p>
            </div>
        </div>

        <div class="news-feed-container">
            <div class="news-card clickable" ng-repeat="item in WidgetHome.items track by $index"
                ng-click="WidgetHome.goToMedia($index)">
                <div class="news-card-image-wrapper">
                    <div class="text-overlay" aria-hidden="true">
                        <div
                                ng-if="item.data.topImage && !item.imageLoaded"
                                class="image-placeholder"
                                ng-style="{'padding-top': ((240 / 340) * 100) + '%'}">
                            <div class="image-placeholder__dots">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <img ng-show="item.data.topImage && item.imageLoaded" alt="{{item.data.title}}" class="load-image-hidden news-card-image" aria-hidden="true"
                             load-image="4x5" crop-width="340" crop-height="425" crop-type="crop" image-item="item"
                             data-final-src="{{item.data.topImage}}" tabindex="0">
                        <img alt="{{item.data.title}}" aria-hidden="true" ng-if="!item.data.topImage" class="news-card-image" src="../../../styles/media/holder-16x9.png">
                    </div>
                    <div class="news-card-overlay">
                        <div class="news-card-title-wrapper">
                            <h3 class="news-card-title">{{item.data.title}}</h3>
                            <span class="news-card-date" data-ng-if="item.data.mediaDate">
                                {{item.data.mediaDate | jsDate | shortDate}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="news-card-footer">
                    <div class="news-card-stats">
                        <div class="news-stat-item">
                            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" fill="currentColor"/>
                            </svg>
                            <span class="news-stat-count">19855</span>
                        </div>
                        <div class="news-stat-item">
                            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20 2H4c-1.1 0-2 .9-2 2v18l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 14H6l-2 2V4h16v12z" fill="currentColor"/>
                            </svg>
                            <span class="news-stat-count">356</span>
                        </div>
                    </div>
                    <div class="news-card-actions">
                        <div class="news-action-icon">
                            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z" fill="currentColor"/>
                            </svg>
                        </div>
                        <div class="news-action-icon" ng-click="WidgetHome.showDrawer($event, item)" aria-label="{{item.data.title}} options">
                            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" fill="currentColor"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-include="'templates/layouts/bottom-logo.html'"></div>
    </div>
</div>
